# Notebook

## Introduction

<b>List of Data science languages:</b><br>
Python<br>
R<br>
SQL<br>
Julia<br>
Scala<br>
SAS<br>

<b>List of Data science Libraries:</b><br>
TensorFlow<br>
NumPy<br>
SciPy <br>
Pandas<br>
Matplotlib <br>
Keras<br>
SciKit-Learn<br>
PyTorch<br>
Scrapy

In [25]:
import pandas as pd

In [26]:
a = [["Tableau","SAS","Tensorflow"],["Spark","Excel","Knime"]]
pd.DataFrame(a, columns=["first","second","third"])

     first second       third
0  Tableau    SAS  Tensorflow
1    Spark  Excel       Knime

## arithmetic expression examples

In [27]:


a = [["a*b","a * b","multiplication"],["a/b","a\div","division"],["a//b","a//b","floor division"],["a%b","a%b","modulo"]]
pd.DataFrame(a, columns=["Syntax","Math","Operation Name"])

  Syntax   Math  Operation Name
0    a*b  a * b  multiplication
1    a/b  a\div        division
2   a//b   a//b  floor division
3    a%b    a%b          modulo

In [28]:
b =3
c =4

In [29]:
# addition
b+c

7

In [30]:
#subtraction
b-c

-1

In [31]:
# multiplication
b*c

12

In [32]:
# division
b/c

0.75

In [33]:
# modulo
b%c

3

## code cell to convert minutes to hour

In [34]:
min=int(input("Enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

Enter time in minutes55
Hours= 0
Minutes= 55

<b>List of Objects:</b><br>
PyTypeObject<br>
PyList_Check<br>
PyList_CheckLast <br>
PyList_SetItem<br>

## Author Name : <b> Dhandu Niranjan</b>